body {
    background-color: #000000d0;
    font-family: 'Open Sans', sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #777740;
    width: 100%;
    padding-top: 10px;
    color: white;
    font-weight: bold;
    font-size: 120%;
}
.github {
    color: white;
}

.homepage {
    width: 100%;
    margin: None;
}

.card {
    margin: auto;
    border-radius: 18px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 75%;
    padding: 3px 0px 3px;
}

.card h2{
    color: white;
}
.card p{
    color: white;
    font-weight: bold;
    font-size: 110%;
    
}
a:link{
    text-decoration: none;
}

.bottom{
    display: flex;
    justify-content: space-around;
    background-color: #777740;
    width: 100%;
    padding-top: 10px;
    color: white;
    font-weight: lighter;
}

.navbar-bottom{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    text-align: center;
    
}
.navbar-bottom span {
    color: white;
    padding-bottom: -10px;
}
.navbar-bottom p{
    color: white;
}
navbar-bottom:link{
    text-decoration: none;
}