body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 1em;
    font-family: 'Open Sans', sans-serif;
    background-image:url(https://images.unsplash.com/uploads/1411400493228e06a6315/ad711a20?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-size: 110%;
}

.wholebox {
    background-color:#000000d0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: None;
}

.wholebox header span{
    padding-left: 150px;
    align-items: center;
    font-family: inherit;
    font-size: 1.2em;
    font-weight: 550;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.wholebox.active header span{
    display: none;
}

header button {
    display: none;
    font-size: 1em;
    margin: none;
    border-radius: 50%;
    margin-bottom: 20px;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }

.active button {
    display: block;
    font-size: 1em;
    margin: none;
    border-radius: 50%;
    margin-bottom: 20px;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.inputbox {
    display:;
}

.active .inputbox{
    display: none;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchbar {
    margin: 25px 0;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: #7c7c7c2b;
    color: white;
    height : 55px;
    max-width: 400px;
    padding: 0 10px;
    width: 100%;
    font-family: inherit;
    font-size: 120%;
    text-align: center;
}


searchbar:is(:valid, :focus) {
    outline: 0.2px solid rgba(255, 255, 255, 0.5);
}

.autocomplete {
    display: block;
    text-align: center;
    font-family: inherit;
    color: white;
}
.autocomplete-items div{
    padding: 6px;
    cursor: pointer;
}
.autocomplete-items div:hover{
    background-color: black;
}


.seprator {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
}

.seprator > span {
    position: relative;
    display: inline-block;
}

.seprator > span:before,
.seprator > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 2000px;
    height: 1px;
    background: white;
}

.seprator > span:before {
    right: 100%;
    margin-right: 15px;
}

.seprator > span:after {
    left: 100%;
    margin-left: 15px;
}

.getlocation {
    margin: 25px 0;
    border: none;
    border-radius: 10px;
    outline: 1px;
    outline-color: white;
    background-color: #7c7c7c2b;
    color: white;
    height: 55px;
    max-width: 420px;
    width: 100%;
    font-family: inherit;
    font-size: 110%;
    text-align: center;
}

.inputbox .getlocation:hover{
    background: black;
    margin: 2px solid white;
}


.loadinginformation{
    display: none;
    margin: 5px 0;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: #7c7c7c2b;
    color: white;
    height : 42px;
    max-width: 420px;
    width: 100%;
    padding-top: 13px;
    font-family: inherit;
    font-size: 120%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.loadinginformation.error{
    display: block;
    color: white;
    background-color: #7c7c7c2b;
    font-family:inherit;
    content: "hello";
    text-align: center;
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97);
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.loadinginformation.processing{
    display: block;
    color: white;
    background-color: #7c7c7c2b;
    font-family:inherit;
    content: "hello";
    text-align: center;
}


@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.wholebox .weatherpart{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wholebox.active .weatherpart{
    display: flex;
}

.weatherpart img {
    max-width: 130px;
    height: 10vh;
    padding-bottom: 10px;
}

.weatherpart .temp {
    display: flex;
    font-size: 65px;
    font-weight: 600;
}

.weatherpart .minmax {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-bottom: 30px;
}

.mintemp {
    width: 50%;
    float: left;
    align-items: center;
}

.mintemp {
    width: 50%;
    float: right;
    align-items: center;
}

.weather {
    font-size: 30px;
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
}

.location {
    font-size: 30px;
    width: 100%;
    text-align: center;
    align-items: flex-start;
    padding-bottom: 40px;
}
.humidity span{
    width: 100px;
}

.location i{
    color: white;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding-top: 15px;
    border-top: 1px solid white;
}

.windspeed {
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
}

.windspeed i{
    font-size: 30px;
}

.humidity {
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    border-left: 1px solid white;
}

.humidity i{
    font-size: 30px;
}

.humiditydetails{
    justify-content: center;
    margin-left: 10px; 
    font-size: 20px;
}

.winddetails {
    margin-left: 10px;
    font-size: 20px;
}

.humidity p{
    margin-top: -3px;
    font-size: 20px;
    font-weight: 800px;
}

.windspeed p{
    margin-top: -3px;
    font-size: 20px;
    font-weight: 800px;
}






